{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "AZURE_TENANT_ID":       "<your-tenant-id>",
    "AZURE_CLIENT_ID":       "<app-registration-client-id>",
    "AZURE_CLIENT_SECRET":   "<app-registration-client-secret>",
    "STORAGE_ACCOUNT_NAME":  "<stefautomation>",

    "SENDER_EMAIL":          "it-automation-service@netradyne.com",

    "IT_EMAIL":              "it-operations@netradyne.com",
    "RECOVERY_GRACE_DAYS":   "30",

    "ALERT_DAY_1":           "23",
    "ALERT_DAY_2":           "53",
    "ALERT_DAY_3":           "83",

    "DELETE_DAY_1":          "46",
    "DELETE_DAY_2":          "76",

    "AUTO_DELETE_NO_EF":     "false",
    "DELETE_REGION":         "IN",

    "SDP_TICKET_URL":        "<servicedesk-extension-request-template-url>",
    "SERVICEDESK_TICKET_URL": "<same-as-SDP_TICKET_URL-preferred-name>",

    "EF_DRY_RUN":              "false",
    "DISABLE_OUTBOUND_EMAIL":  "false",
    "DISABLE_GRAPH_WRITES":    "false",

    "EF_TEST_MODE":            "true",
    "EF_TEST_RECIPIENT":       "prem_testing@netradyne.com",

    "REPORT_EMAILS":             "prem_testing@netradyne.com",
    "SHAREPOINT_SITE_URL":       "https://netorg726775.sharepoint.com/sites/ITTEAM259",
    "SHAREPOINT_LIBRARY":        "Shared Documents",
    "SHAREPOINT_FOLDER":         "General/Jagruth/Automation_Reports/EF",
    "SHAREPOINT_REPORT_URL":     "",

    "NO_EF_ADMIN_REMINDER_DAY": "28",
    "DELETION_EXEMPT_USER_IDS": "",
    "DELETION_EXEMPT_EMAILS":   "",

    "CSA_ATTRIBUTE_SET":     "EFAutomation",
    "CSA_ATTRIBUTE_NAME":    "ExtStatus",
    "CSA_TICKET_REF_NAME":   "TicketRef",

    "IT_APPROVAL_EMAIL":        "<it-ops-approval-mailbox@netradyne.com>",
    "OOO_MAX_DAYS":             "30",
    "APPROVAL_TOKEN_DAYS":      "7",
    "FUNC_BASE_URL":            "<https://your-function-app.azurewebsites.net>",

    "ADMIN_EMAILS":              "<comma-separated admin emails, e.g. admin1@domain.com,admin2@domain.com>",
    "WEEKLY_REPORT_SCHEDULE":    "0 30 8 * * 1",
    "MONTHLY_REPORT_SCHEDULE":   "0 30 7 1 * *",

    "CLEANUP_SCHEDULE":          "0 0 6 1 * *",
    "CLEANUP_REGION":            "IN",
    "CLEANUP_MIN_OFFBOARD_DAYS": "30"
  }
}
