{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "AZURE_TENANT_ID":       "<your-tenant-id>",
    "STORAGE_ACCOUNT_NAME":  "<stefautomation>",

    "KEY_VAULT_NAME":        "<kv-ef-automation>",

    "SMTP_SERVER":           "smtp.office365.com",
    "SMTP_PORT":             "587",
    "SENDER_EMAIL":          "it-automation-service@netradyne.com",
    "SENDER_PASSWORD":       "<app-password-or-leave-blank-to-use-keyvault>",

    "IT_EMAIL":              "it-operations@netradyne.com",
    "RECOVERY_GRACE_DAYS":   "30",

    "ALERT_DAY_1":           "23",
    "ALERT_DAY_2":           "53",
    "ALERT_DAY_3":           "83",

    "SDP_TICKET_URL":        "<servicedesk-extension-request-template-url>",

    "CSA_ATTRIBUTE_SET":     "EFAutomation",
    "CSA_ATTRIBUTE_NAME":    "ExtensionStatus"
  }
}
